version = 1

exclude_patterns = [
  "**/.vscode/**",
  "**/Application Support/**",
  "**/archive/**",
  "**/custom/plugins/**",
  "**/custom/themes/**",
  "**/node_modules/**"
]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"

[[analyzers]]
name = "go"
enabled = true

  [analyzers.meta]
  import_root = 'github.com/LucasLarson/"$(command git rev-parse --show-toplevel | command xargs basename)"'

[[analyzers]]
name = "test-coverage"
enabled = true

[[analyzers]]
name = "docker"
enabled = true

[[analyzers]]
name = "ruby"
enabled = true

[[analyzers]]
name = "terraform"
enabled = true

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  style_guide = "standard"
  environment = ["browser"]

[[analyzers]]
name = "sql"
enabled = true

[[analyzers]]
name = "shell"
enabled = true

[[analyzers]]
name = "secrets"
enabled = true

[[transformers]]
name = "yapf"
enabled = true

[[transformers]]
name = "gofmt"
enabled = true

[[transformers]]
name = "autopep8"
enabled = true

[[transformers]]
name = "isort"
enabled = true

[[transformers]]
name = "standardrb"
enabled = true

[[transformers]]
name = "google-java-format"
enabled = true

[[transformers]]
name = "prettier"
enabled = false

[[transformers]]
name = "black"
enabled = true

[[transformers]]
name = "standardjs"
enabled = true

[[transformers]]
name = "rubocop"
enabled = true
