#
#       ╭╮
#      ╭╯╰╮
#   ╭──┼╮╭┼┬──┬─╮╭──┬─┬──╮
#   │╭╮├┤│├┤╭╮│╭╮┤╭╮│╭┤│─┤
#  ╭┤╰╯││╰┤│╰╯││││╰╯││││─┤
#  ╰┴─╮├┴─┴┴─╮├╯╰┴──┴╯╰──╯
#   ╭─╯│   ╭─╯│
#   ╰──╯   ╰──╯
#

## Mega-Linter
# https://github.com/nvuillam/mega-linter/tree/4e409f8#apply-fixes
report/
