[user]
  email = LucasLarson@riseup.net
  name = Lucas Larson

  # signingKey
  # use `git config --system user.signingKey 𝑥`

[core]
  abbrev = 7

  # `autocrlf` is all-lowercase
  # https://git-scm.com/docs/git-config/2.34.1#Documentation/git-config.txt-coreautocrlf
  # macOS and Linux only
  # https://wildlyinaccurate.com/useful-git-configuration-items/#prevent-line-ending-issues
  autocrlf = input

  excludesFile = ~/.gitignore_global

  # aggressive but slow repo compression
  # https://stackoverflow.com/a/28156806
  # https://git-scm.com/docs/git-config/2.25.1#Documentation/git-config.txt-corecompression
  compression = 9
  looseCompression = 9

  ignoreCase = false

  # ensure Unicode filenames aren’t mangled by HFS
  # https://chromium.googlesource.com/chromium/src/+/11eee6b/docs/mac_build_instructions.md#get-the-code
  precomposeUnicode = true

  # better diffs via the person from whom I learned to alias `apm-beta`
  # https://github.com/jeefberkey/dotfiles/blob/b3513ad/.gitconfig#L11
  pager = command diff-so-fancy | command less --tabs=4 -RFX

[checkout]
  defaultRemote = origin

[color]
  # https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/depot_tools_tutorial.html#_bootstrapping_configuration
  ui = true

[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[commit]
  gpgSign = true

[credential]
  # https://stackoverflow.com/a/59278535
  helper = "!f() { if [ \"$(uname -s)\" = Linux ]; then git credential-cache --timeout 7889238 \"$@\"; else git credential-osxkeychain \"$@\"; fi; };f"

[credential "https://dev.azure.com"]
  useHttpPath = true

[diff]
  # allow `git merge` to examine enormous diffs
  # https://stackoverflow.com/a/13118734
  renameLimit = 0

[diff "plist"]
  # permit 𝚐𝚒𝚝 𝚍𝚒𝚏𝚏 even in binary 𝚙𝚕𝚒𝚜𝚝s
  # https://archive.org/details/2018GitNotesForProfessionals/page/n46
  textconv = command plutil -convert xml1 -o -

[diff "utf16"]
  # macOS strings files
  # https://archive.org/details/2018GitNotesForProfessionals/page/n45
  textconv = command iconv -f utf-16 -t utf-8

[diff-so-fancy]
  stripLeadingSymbols = true

[filter "lfs"]
  clean = command git-lfs clean -- %f
  smudge = command git-lfs smudge -- %f
  process = command git-lfs filter-process
  required = true

[gpg]
  # `gpg` is an alias to `gpg2` where possible
  # https://github.com/ustasb/dotfiles/commit/da93f0f
  program = gpg

[grep]
  lineNumber = true

[i18n]
  commitEncoding = utf-8

[init]
  defaultBranch = main

[mergetool]
  keepBackup = true

[pack]
  # slow, aggressive compression
  # https://git-scm.com/docs/git-config/2.25.1#Documentation/git-config.txt-corecompression
  compression = 9

[pull]
  rebase = true

[rerere]
  # Git remembers your partial merge choices and replays them next time
  # https://stackoverflow.com/a/28156806
  autoUpdate = true
  enabled = true

[tag]
  forceSignAnnotated = true
