[user]
	email = LucasLarson@riseup.net
	name = Lucas Larson
	signingkey = AA4FB0D44C2AA5C90B91861DF09A4FB0FE301234

[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[gpg]
	program = /usr/local/bin/gpg

[commit]
	gpgsign = true

[pull]
	rebase = true

[color]
	ui = auto

[credential]
	helper = osxkeychain
