"*":
  "atom-beautify":
    c: {}
    general:
      _analyticsUserId: "cf34e041-58cb-4a93-aa33-9ac69f68089e"
    objectivec:
      configPath: "~/.atom/packages/atom-beautify/uncrustify.cfg"
  "autocomplete-plus":
    autoActivationDelay: 100
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "whitespace"
    ]
    projectHome: "/Users/LucasLarson/Code"
    telemetryConsent: "limited"
  deepcode:
    sessionToken: ""
  editor:
    fontFamily: "Fira Code, JetBrains Mono, Dank, Dank Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    preferredLineLength: 79
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "211d116f-e19e-4563-a558-477e75bb795f"
  "find-and-replace":
    enablePCRE2: true
    useRipgrep: true
  "gitlab-integration":
    token: ""
  "linter-ui-default":
    panelHeight: 193
    showPanel: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-US"
      "fr-FR"
      "eo-EO"
      "es-MX"
      "ht-HT"
    ]
    useLocales: false
  "split-diff":
    ignoreWhitespace: true
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 72
