"*":
  "asciidoc-preview":
    compatMode: true
    scrollMode: false
    skipFrontMatter: true
    tocType: "macro"
  "atom-beautify":
    c: {}
    general:
      _analyticsUserId: "cf34e041-58cb-4a93-aa33-9ac69f68089e"
    objectivec:
      configPath: "~/.atom/packages/atom-beautify/uncrustify.cfg"
  "autocomplete-plus":
    autoActivationDelay: 100
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    debugLSP: true
    projectHome: "/Users/LucasLarson/Code"
    telemetryConsent: "limited"
  editor:
    fontFamily: "MesloLGS NF, Fira Code, JetBrains Mono, Dank, Dank Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    preferredLineLength: 79
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "211d116f-e19e-4563-a558-477e75bb795f"
  "find-and-replace":
    autocompleteSearches: true
    enablePCRE2: true
    liveSearchMinimumCharacters: 2
    scrollToResultOnLiveSearch: true
    useRipgrep: true
  "format-shell":
    keepPaddings: true
    showNotifications: true
    simplify: true
    spaceAfterRedirect: false
  "gitlab-integration":
    token: "$GITLAB_API_TOKEN"
  "linter-markdown":
    presetStyleGuideWithoutConfig: true
  "linter-markdownlint": {}
  "linter-ui-default":
    panelHeight: 193
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    addKnownWords: true
    knownWords: [
      "kbd"
      "br"
      "Mackup"
      "rbenv"
      "zshrc"
      "NONINFRINGEMENT"
    ]
    locales: [
      "en-US"
      "fr-FR"
      "eo-EO"
      "es-MX"
      "ht-HT"
    ]
    useLocales: false
  "split-diff":
    ignoreWhitespace: true
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 72
