---
name: YAML Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  yamllint:
    name: Lint YAML files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3
        with:
          strict: true
          config_data: |
            extends: default
            rules:
              truthy:
                allowed-values: ['true', 'false', 'on']
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN || secrets.PAT }}
